@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body{
    font-family: "Comfortaa", cursive;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.hex-colors{
    text-align: center;
}

.anime{
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
    animation: c 5s infinite alternate;
}
.hex-colors h2{
    margin-top: 30px;
    background-color: black;

}
@keyframes c {
    0%{
        color: indigo;
    }
    20%{
        color: blue;
    }
    40%{
        color: green;
    }
    60%{
        color: yellow;
    }
    80%{
        color: rgb(130, 76, 0);
    }
    100%{
        color: red;
    }
}